<div class="container">
<% if @restaurant.errors.any? %>
  <ul>
    <% @restaurant.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<%= simple_form_for(@restaurant) do |f| %>
  <%= f.error_notification %>
  <div class="col-md-6 col-md-offset-3">

  <div class="form-inputs">
    <%= f.input :name %>
    <%= f.input :address %>
    <%= f.input :phone_number %>
    <%= f.input :category, collection: ["chinese", "italian", "japanese", "french", "belgian", "american"] %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn btn-info' %>
  </div>
  </div>
<% end %>
</div>
